.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
  
    .product-image {
      max-width: 50%;
    }
  
    .product-details {
      max-width: 45%;
  
      h2 {
        margin-top: 0;
      }
  
      .size-dropdown {
        margin: 10px 0;
  
        select {
          margin-left: 10px;
        }
      }
  
      .in-stock {
        color: green;
      }
  
      .out-of-stock {
        color: red;
      }
    }
  }