name: Build, Test and Deploy to Docs Folder

on:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '19.x'

    - name: Install Dependencies
      run: npm install

    - name: Linter
      run: npm run lint

    - name: Build
      run: npm run build -- --configuration production --base-href './1iota-product-list/'

  deploy:
    needs: build-and-test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '19.x'
      - name: Install dependencies
        run: npm ci
      - name: Build app
        run: npm run build -- --configuration production
      - name: update repo
        run: git pull
      - name: Commit and push changes
        run: |
          git config --global user.email "shakeel-o@live.com"
          git config --global user.name "Shakeel O'Garra - GHActions"
          git add -A
          git commit -m "Deploy to GitHub Pages"
          git push https://github.com/Shakeel-O/1iota-product-list.git HEAD:gh-pages --no-verify
        env:
          GITHUB_TOKEN: ${{ secrets.IOTA_ACCESS_TOKEN }}
